body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Monaco', monospace;
    text-align: center;
  }

  nav ul li {
    display: inline-block;
    margin-right: 10px;
    font-family: 'Monaco', monospace;
    
}
hr {
    margin-top:  10px;
    margin-bottom: 20px;
    border-color:black;
}
  
  /* GAME BOARD STYLES */
  #gameContainer {
    /*
      width and height of .gameBoardPixel should 1/40 of the width and height of #gameContainer,
      because it is used in calculation in the jscript.js file
      */
    width: 40vw;
    height: 40vw;
    margin: 2vw auto;
    background-color: #132160;
    border: outset 10px rgb(126, 112, 144);
    border-radius: 10px;
  
  }
  
  .gameBoardPixel {
    /* background-color: slategrey; */
    /*
      width and height of .gameBoardPixel should 1/40 of the width and height of #gameContainer,
      because it is used in calculation in the jscript.js file
      */
    width: 1vw;
    height: 1vw;
    border-radius: 10px;
    float: left;
  }
  /* GAME BOARD STYLES END*/
  
  /* SNAKE STYLES */
  .snakeBodyPixel {
    background-color: #01a5fd;
    box-shadow: 0 0 5px #018cfd;
  }
  /* SNAKE STYLES END*/
  
  /* FOOD STYLES */
  .food {
    background-color: #f40e0e;
  }
  /* FOOD STYLES END*/
  
  /* SCORE STYLES */
  #scoreContainer {
    width: 40vw;
    display: flex;
    margin: auto;
    justify-content: space-around;
  }
  
  .scoreBoard {
    border-radius: 10px;
    border: solid 5px rgb(126, 112, 144);
    color: rgb(255, 255, 255);
    background-color: #132160;
    display: inline-block;
    padding: 1vw;
    width: 40%;
  
  }
  /* SCORE STYLES END */
  
  /* Hide #onScreenControllers on desktop */
  #onScreenControllers {
    display: none;
  }
  
  .developerDetails {
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    color: #0c1021;
    font-family: monospace;
  }
  
  .developerDetails a {
    color: #0c1021;
  }
  
  @media only screen and (max-width: 768px) {
    /* MOBILE */
    #gameContainer {
      width: 80vw;
      height: 80vw;
    }
  
    .gameBoardPixel {
      width: 2vw;
      height: 2vw;
    }
  
    #scoreContainer {
      width: 80vw;
    }
  
    #onScreenControllers {
      width: 80vw;
      margin: 5vw auto;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  
    #onScreenControllers > div {
      display: flex;
      flex-direction: column;
    }
  
    #onScreenControllers button {
      background-color: transparent;
      height: 20vw;
      width: 20vw;
      font-size: 10vw;
      border: none;
    }
  
    #onScreenControllers button:focus {
      outline: none;
    }
  
    #onScreenControllers button:active {
      background-color: slategray;
    }
  }